/*usando un selectro universal */
*{
    padding: 0;
    margin: 0;

  }


/*selector de etiquetas*/
body{
    background-color: #e6edd9 ;
    color: white;

}

/*selector de clases*/
.texto{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;

}

.img {
    width: 200px;
    border-radius: 1px;
    padding: 5px;
    justify-items: center;

        height: 100px;
        border: 1px solid white;
        margin: 0 5px;
      }
      



.encabezado-articulo {
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 152, 87);
    color: rgb(255, 255,255);
    margin: 1em 2em;
    border-radius: 5px;
}

.encabezado-aside {
padding: 10px 10px;
text-align: center;
background-color: rgb(89, 161, 81);
color: white;
margin: 1em 2em;
}

.menu-aside {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 0 25px;
}

.lista-aside {
    padding: 1px;
    list-style-type: disc;
    
}

.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 px;
    list-style: disc;
    color: #000;

}

/*selectores de ID*/
#conenedor {
    width: 900px;
    height: 1000px;
    background-color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;
    flex-wrap: nowrap;
}


.encabezado {
width: 15%;
background-color: #6c844e;
margin: 1em;
border-radius: 5px;
padding: 0 50px;

}
.barraNavegacion{
    height: 5%;
    background-color: #7e815b;
    margin: 1em;
    border-radius: 5px;

}

    

#contenido {
    height: 60px;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px ;
    text-align: center;

}
/*
ul{
    text-align: center;
    padding: 10px;
 }
 li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
 }
 */


    #fueraSeccion{
        height: 50%;
        width:35%;
        background-color: #b5bf9a;
        margin: 0.5m;
        display: inline-block;
        vertical-align: top;
        border-radius: 5px;
        
         }
        
         #pie {
        height: 10%;
        background-color: #b5bf9a;
        margin: 1.5em;
        text-align: center;
        padding: 5px;
         }
        
         #pie h4 {
           padding: 15px;
           font-size: 30px;
         }
         /* selector de etiqueta */
        
         ul{
           text-align: center;
           padding: 10px;
         }
         li {
           display: inline;
           padding: 3px 3px;
           margin: .5%;
         }
         li a:hover{
        
           color:crimson;
           text-decoration: none;
           list-style: none;
         }
        