/*selector de etiqueta*/
body { background-color: #f1ecea;  } 

ul{
    text-align: center; 
    padding: 10px;
    }


li{
    display: inline;
    padding: 3px 3px; 
    margin: .5%;
    }

li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;}

/*selector de clase=== .elnombre*/
.header {
    color: #3a251c;
    text-align: center;
}
.texto {

    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;


}
.cafe1{
    width: 80px;
    height: 80px;
    border: 1px solid white;
    margin: 0 5px;
}

.encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color:  #3a251c;
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
    
    }
    .encabezado-aside {
        padding: 10px 10px;
        text-align: center;
        background-color: rgb(89, 161, 81);
        color: white;
        margin: 1em 2em;
    }

.img{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin: 0 5px;
    
 }

 .menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;
}

.lista-aside{
    padding: 1px;
    list-style-type: disc;
    
    }
    
    .lista-aside li{
        list-style-type: disc;
        display: flex;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        padding: 0 px;
        color: #000;
            
        }
        

.menu{
    background-color: #b46424;
    height: 5%;
    color: #f1ecea;
    margin: 1em;
    border-radius: 5px;
}

.encabezado{
    width: 15%;
    background-color: #6c844e;
    margin: 1em;
    border-radius: 5px;
    padding:  0 50px;

}


.menuprincipal{
    height: 5%;
    background-color:#b46424;
    margin: 1em;
    
    border-radius: 5px;  
  
  
  }

/*selector de universal*/
*{
 padding: 0;
 margin: 0;
}
 

/*selectores ID*/

  #contenedor {
    width: 900px;
    height: 1000px;
  
    background-color:  #362f2f;
   max-width: 0 auto;
   
   border-radius: 5px;
  flex-wrap: nowrap;
    }

    

    #contenido {
     height: 64%;
     width: 50%;
     background-color: #b5bf9a;
     
     margin: 0.5em;
     display: inline-block;
    border-radius: 5px;
    text-align: center;
    }

    #pie{
    height: 10%;
     background-color: #3a251c ;
    margin: 1.5em; text-align: center;
      padding: 5px;
   
      text-align: center;
    }

    #pie h4{
        padding: 15px; 
        font-size: 30px;
    }

#lado {
    height: 50%;
    width: 30%;
    background-color:  #b58c7c ; 
    margin: 0.5em;
    display: inline-block; 
    vertical-align: top; 
    border-radius: 5px;
    }


